[Unit]
Description=Pideo automatic video player service
After=network.target
# Prevent the graphical desktop session from starting when Pideo is enabled.
Before=graphical.target
Conflicts=graphical.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pideo
ExecStart=/usr/bin/env python3 /home/pi/pideo/pideo.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pideo

[Install]
WantedBy=multi-user.target
